@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Marck+Script&family=Monoton&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  /* Font Families */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Taviraj", serif;
  --font-tertiary: "Monoton", sans-serif;
  --font-titles: "Agu Display", serif;

  /* Theme Colors */
  --color-primary: #ff3b3b;
  /*red*/
  --color-primary-light: #fb923c;
  /* Light Orange */
  --color-secondary: #ffff;
  /* white */
  --color-secondary-light: #BFBFBF;
  /*Dark gray*/
  --color-background: #ff3b3b;
  /*red*/
  --color-text-primary: #000000;
  /* Lightest Gray */
  --color-text-secondary: #f97316;
  /* Deep orange */
  --color-white: #ffffff;

  /* Text Sizes */
  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-base: 1rem;
  /* 16px */
  --text-lg: 1.125rem;
  /* 18px */
  --text-xl: 1.25rem;
  /* 20px */
  --text-2xl: 1.5rem;
  /* 24px */
  --text-3xl: 1.875rem;
  /* 30px */
  --text-4xl: 2.25rem;
  /* 36px */

  /* Screen Breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}


body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 95%;
  margin: auto;
}

header .top-strip {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(216, 213, 213);
}

.link:hover{color: #ff3b3b;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button{
  text-transform: capitalize !important;
}

nav ul button:hover {background: none !important;}